@import "variables";

footer {
    background-color: $color-fondo;
    color: $color-principal;
    text-align: center;
    padding: 20px;
    border-top: 2px solid $color-principal; 

    p {
        font-size: 1.5rem;
        margin: 0 0 10px;
        font-family: 'Arial', sans-serif;
        font-weight: bold; 
    }

    a {
        text-decoration: none;

        button {
            background-color: $color-principal;
            border: none;
            padding: 10px 20px;
            color: $color-secundario;
            font-size: 1rem;
            cursor: pointer;
            border-radius: 5px; 
            transition: background-color 0.3s ease, transform 0.2s; 

            &:hover {
                background-color: lighten($color-principal, 10%); 
                transform: scale(1.05); 
            }
        }
    }

    #purchaseSummary {
        margin-top: 20px; 
        color: lighten($color-principal, 20%); 
        display: none; 

        h4 {
            font-size: 1.2rem; 
            margin-bottom: 10px; 
        }

        #summaryText {
            font-size: 1rem; 
            line-height: 1.5; 
        }
    }
}